<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <title>RockScript WahWah</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="width=device-width,maximum-scale=1.0" />
    <link rel="stylesheet" href="resources/remote.css" />
</head>
<body>
    <div class="switches"></div>
    <script src="socket.io/socket.io.js"></script>
    <script src="resources/vendor.js"></script>
    <script src="scripts/wah.js"></script>
</body>
</html>