@import "reset";

html {
    height: 100%;
}
body {
    background: #000 url(../images/ghostnebula.jpg) center center;
    background-size: cover;
    min-height: 100%;
    text-align: center;
    overflow: hidden;
}

#meters {
    display: inline-block;
    margin: 60px 0 40px;
}

canvas {
    background: transparent;
}

.pedals {
    margin: 40px;
    button {
        display: inline-block;
        margin:0 20px;
        padding: 10px 20px;
        border: 0;
        color: #eee;
        text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
        background: #445;
        &.off { opacity: 0.3; }
    }
    li {
        display: inline-block;
        height: 40px;
        padding: 10px;
    }
    input[type='checkbox'] {
        display: block;
    }
    label {
        text-transform: uppercase;
        font-weight: 700;
        color: #333;
    }
}

@import "meter";
@import "checkbox";
@import "radio";

.dg.a.has-save ul {
    margin-top: 0 !important;
}

.spaceviz,
.spaceviz-wave {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transition: 0.2s all ease-in;
    .boom & {
        -webkit-filter: blur(10px) brightness(200%) contrast(200%) hue-rotate(90deg);
    }
}
.spaceviz-wave {
    -webkit-filter: drop-shadow(0 0px 10px rgba(180,180,255,1)) drop-shadow(0 5px 3px rgba(0,0,0,0.6));
    .boom & {
        -webkit-filter: brightness(250%) hue-rotate(360deg);
        opacity: 0.3;
    }
}

.switches {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: "Blanch";
    font-size: 24px;
    .switch {
        display: inline-block;
        border: 2px solid #eef;
        border-radius: 6px;
        color: #eef;
        width: 80px;
        height: 80px;
        line-height: 80px;
        margin:0 0.6em;
        opacity: 0.5;
        -webkit-filter: drop-shadow(0 0 8px rgba(180,200,255,1));
        -webkit-transition: 0.2s all;
        &.on {
            opacity: 1;
            background: rgba(180,200,255,0.1);
        }
    }
}